.btn:hover + .logout-btn,
.logout-btn:hover {
    display: block;
}

.logout-btn {
    display: none;
}

.logout-btn {
    position: relative;
    display: inline-block;
}

.logout-btn::before {
    content: '';
    position: absolute;
    top: -10px;
    left: 50%;
    transform: translateX(-50%);
    border-width: 0 10px 10px 10px;
    border-style: solid;
    border-color: transparent transparent gray transparent;
}

/* .menu-link {
    position: relative;
    display: flex;
    align-items: center;
    padding-left: 1.75rem;
    gap: 0.75rem;
    border-radius: 0.25rem;
    transition: background-color 0.3s ease;
  } */

  /* .menu-link:hover {
    background-color: #1677FF;
  }
  
  .menu.closed .menu-link:hover::after {
    content: attr(data-text); 
    max-width: 100px;
    height: 30px;
    position: absolute;
    top: 50%;
    left: 115%;
    transform: translateY(-50%);
    background-color: rgb(34, 34, 34);
    color: white;
    padding: 4px 8px;
    white-space: nowrap;
    display: flex;
    align-items: center;
    border-radius: 4px;
  }
  
  .menu.closed .menu-link:hover::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 115%;
    transform: translateY(-50%) translateX(-6px);
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 6px 6px 6px 0;
    border-color: transparent rgb(34, 34, 34) transparent transparent;
  }
   */