.btn:hover + .logout-btn,
.logout-btn:hover {
    display: block;
}

.logout-btn {
    display: none;
}

.logout-btn {
    position: relative;
    display: inline-block;
}

.logout-btn::before {
    content: '';
    position: absolute;
    top: -10px;
    left: 50%;
    transform: translateX(-50%);
    border-width: 0 10px 10px 10px;
    border-style: solid;
    border-color: transparent transparent gray transparent;
}

